.header {
    /* text-decoration: none; */
    color: #B76E79;
    background-color: whitesmoke; 
    word-spacing: 20px;
    margin: 10px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .nav {
        div {
            padding: 10px;
            background-color: white;
            margin: 10px;
            &:hover {
                cursor: pointer;
                background-color: grey;
                transition: 0.5s ease;
                a {
                    color: white;
                }
            }
        }
    }
}

a {
        text-decoration: none;
        color: #B76E79;
    }