<h1><i>Login Page</i></h1>
<hr>
<p><%= @error %></p> 
 
 <form action="/login" method="post">
    <label><i>Username:</i></label>
    <input type="text" name="username">
    <label><i>Password:</i></label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>