<h1><i>Welcome New User!</i></h1>
<hr>
<h4>Please Signup Here.</h4>
<p><%= @error %></p> 
 
 <form action="/signup" method="post">
    <label><i>Create Username:</i></label>
    <input type="text" name="username">
    <label><i>Create Password:</i></label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>