<div class="makeup-container">
    <h1><i>Makeup Products💄</i></h1>
   
    <p><i>Thank you for purchasing Maybelline Products, Please click the product that you purchased from and Leave a Review!</p>
    <hr>
            <% @makeups.each do |makeups|%>
            <h3><a href="/makeup/<%= makeups.id %>"><%= makeups.name%></a></h3>
            <h4><%= makeups.price%></h4>
            <img src="<%= makeups.image %>" alt="makeup">
        
   
    <% end %> 
</div>
