<h1>Create a Review</h1>
<p><%= @error %></p>
<form action="/review" method="post">
<input type=hidden name="makeup_id" value=<%= @makeup.id%></label>
    <label>Review Title</label>
    <input type="text" name="name">
    <label>Comfort</label>
    <input type="text" name="rate">
    <label>Review</label>  
    <textarea name="review"></textarea>
    <label>Image URL</label>
    <input type="text" name="image">
    <button type="submit">Add Review</button>
</form>