<h2><i>Search your Makeup Product</i></h2>
<hr>

<form action="/search", method="post">
<h3><i>Search Makeup product</h3>
<input type="text" name="search">
<button type="search">search</button>


<% if @makeups.present? %>
  <% @makeups.each do |makeup| %>
    <p><a href="/makeup/<%= makeup.id %>"><%= makeup.name%></a></p>
  <%end%>
<% else %>
  <p><i>There are no Makeups containing the term(s) <%= params[:search] %>.</p>
<% end %>